@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary : #fa7f2d;  
    --on-primary : #FFF;
    --primary-container: #c4b0a9;
    --on-primary-container: #4E342E;

    --secondary : #A1887F; 
    --on-secondary : #FFF;
    --secondary-container: #D7CCC8;
    --on-secondary-container: #3E2723;

    --surface: #FAFAFA;
    --background : rgb(232, 223, 223);
}

html { 
    background-color: var(--surface);
    color: var(--contrast);
}